<div class="ui-g">
  <div class="ui-g-12">
    <div class="card">
      <div class="ui-g">
        <div class="ui-g-6">
          <p-button label="Старт" style="float: left" (onClick)="start()"></p-button>
          <span>{{!!this.ws ? ( this.ws.readyState === 1 ? 'Сокет работает' : 'Сокет не работает') : 'Сокет не работает'}}</span>
        </div>
        <div class="ui-g-6">
          <p-button label="Стоп" class="ui-button-danger" style="float: right" (onClick)="stop()"></p-button>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-g-12">
    <div class="card">
      <div class="ui-g">
        <div class="ui-g-12">
          <p-table #dt [paginator]="true" [rows]="10"  [columns]="cols" [value]="items" [responsive]="true">
            <ng-template pTemplate="caption">
              <div style="text-align: right">
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
